body {
    background: #fefae0;
    margin: 10;
    padding: 10;
    color: #5b5b5e;
    
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .5px;
    margin: 0;
    padding: 20px 18px 10px 18px;
  }
  
  /* Navigation */
  
  .navigation {
    box-sizing: border-box;
    background-color: #fefae0;
    overflow: auto;
    padding: 18px 50px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    color: #5b5b5e;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 10;
    padding: 20px 18px 10px 18px;
    text-transform: uppercase;
  }
  
  .active {
    color: #88CCF1;
  }
  
  /* Table */
  
  table {
    background: #fefae0;
    height: 90%;
    left: 0%;
    right: 50%;
    margin: 10px left;
    overflow-y: scroll;
    position: relative;
    width: 60%;
  }
  
  thead th {
    background: #fefae0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 22;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  tr {
    background: #fefae0;
    border-bottom: 1px solid #fff;
    margin-bottom: 25px;
    width: 50%
  }
  
  th, td {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 2px;
    text-align: left;
    width: 50%;
  }
  
  .search {
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 3px;
    color: #AAA;
    padding: 20px;
    margin: 50px auto 0px auto;
    width: 77%;
  }

  #pic1 {
    opacity: 0.8;
  }

